
.about {
  // @extend .section-wrapper;
  position: relative;

  p {
    font-size: $font-medium;
    margin-bottom: 18px;
    z-index: 1;
  }

  .about-header {
    font-size: 22px;
  }
}

.image-viewport {
  height: 200px;
}

.layer-overlay {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.about-blurb {
  padding: 40px 140px;
}
