// COLOURS
$black: #121212;
$white: #efefef;
$purple: #6a3683;
$dark-purple: #5a2d6f;
$light-purple: #dbd6e3;

// GRADIENTS


// BREAKPOINTS
$small: 415px;
$medium: 600px;

// FONT SIZES
$font-medium: 16px;
$font-large: 20px;

// TRANSITIONS
$transition: 200ms;
